<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="URI" value="http://csmain.caresolutions.be:9000/"/>
		<add key="FILEPATH" value="c:\temp\"/>
		<add key="FILENAME" value="residents.txt"/>
		<add key="PROCESS_FULL_NAME" value="C:\Program Files\Notepad++\notepad++.exe"/>
		<add key="DELIMITER" value="!#"/>
		<add key="LOGIN" value="SAFR"/>
		<add key="DOMAIN" value="Zonneschijn"/>
		<add key="PASSWORD" value="dossier"/>
		<add key="APPLICATION_KEY" value="1655A8D5-D935-4798-955D-7BDF2A4D57D9"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>